body {
   margin-left:0;
   margin-right:0;
   margin-top:0;
   margin-bottom:0;
   margin-width:0;
   margin-height:0;
}

#buttonToggleBT {
  float: right;
   width: 40px%;
   font-size: 15px;
}

div.headerDiv {
   display: block;
   position: absolute;
   width: 100%;
   background: black;
}

#dbButtons {
  bottom: 0px;
  position: fixed;
  width: 100%;
}

#delete {
   width: 50%;
   font-size: 15px;
   float: left;
}

#export {
   width: 50%;
   font-size: 15px;
   float: left;
}

#headerTitle {
   float: right;
   margin-right: 10px;
   color: white;
}

#headerImg{
   float: left;
   margin-top: 10px;
   margin-left: 10px;
   width: 100px;
}

#input {
   width: 100%;
   font-size: 20px;
}

.input_button {
   float:left;
   width: 50%;
   font-size: 20px;
   color:white;
   background-color:blue;
}

.input_select {
   text-align: center;
   width: 100%;
   height: 25px;
   font: inherit;
   font-size: 20px;
}

.log {
   font-size: 20px;
   width: 100%;
   text-align: center;
}

table {
   width: 100%;
   font-size: 75%;
   border: 1px solid black;
   border-collapse: collapse;
}

th,td {
	border: 1px solid black;
   text-align:center;
}
