html, body {
   margin:0;
   padding:0;
   overflow: hidden;
}

body {
   position: absolute;
}

#confirmButtons {
   text-align: center;
}
#readerConfirmButtons {
   text-align: center;
}

.finishdel {
   text-align: center;
}

.hamburger {
   margin-top: 5px;
}

#input {
   width: 100%;
   font-size: 20px;
   text-align: center;
}

.input_button {
   float:left;
   width: 50%;
   font-size: 20px;
   color:white;
   background-color:blue;
}

.input_select {
   text-align: center;
   width: 100%;
   height: 25px;
   font: inherit;
   font-size: 20px;
}

.log {
   font-size: 20px;
   width: 100%;
   text-align: center;
}

#logo {
   height: 50px;
   margin-right: 10px;
   margin-top: 5px;
}

table {
   width: 100%;
   font-size: 75%;
   border: 1px solid black;
   border-collapse: collapse;
}

th,td {
	border: 1px solid black;
   text-align:center;
}

/*.title {
  letter-spacing: -.065em;
  position:relative;
  z-index: 20;
  color: #ddd;
}*/

/*.overlay,
.topcoat-overlay {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  background-clip: padding-box;
  overflow: hidden;
  cursor: default;
  position: absolute;
  z-index: 10;
  border: none;
}

.topcoat-overlay {
  position: absolute;
  width: 75%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 6px;
  background-color: #e5e9e8;
  border: 1px solid #a5a8a8;
  text-align: center;
}

.topcoat-overlay-bg {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(88,90,92,0.7);
  box-shadow: inset 0px 0px 115px 0px #000;
  z-index: 5;
}*/