html, body {
   margin:0;
   padding:0;
   overflow: hidden;
}

body {
   position: absolute;
}

#confirmButtons {
   text-align: center;
}

.finishdel {
   text-align: center;
}

.hamburger {
   margin-top: 5px;
}

#input {
   width: 100%;
   font-size: 20px;
   text-align: center;
}

.input_button {
   float:left;
   width: 50%;
   font-size: 20px;
   color:white;
   background-color:blue;
}

.input_select {
   text-align: center;
   width: 100%;
   height: 25px;
   font: inherit;
   font-size: 20px;
}

.log {
   font-size: 20px;
   width: 100%;
   text-align: center;
}

#logo {
   height: 50px;
   margin-right: 10px;
   margin-top: 5px;
}

table {
   width: 100%;
   font-size: 75%;
   border: 1px solid black;
   border-collapse: collapse;
}

th,td {
	border: 1px solid black;
   text-align:center;
}
