<?xml version='1.0' encoding='utf-8'?>
<plugin 
	id="com.radlib.cordova.bluetoothscanner" 
	version="0.0.0" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	
    <name>BluetoothScanner</name>
	<description>Bluetooth Scanner Plugin</description>
	<author>Team RadLib</author>
    <keywords>radlib</keywords>
	
	<engines>
        <engine name="cordova" version=">=3.6.3" />
    </engines>
	
    <js-module name="BluetoothScanner" src="www/BluetoothScanner.js">
        <clobbers target="bluetoothScanner" />
    </js-module>
	
	<platform name="android">
		
		<config-file target="res/xml/config.xml" parent="/widget">
            <feature name="BluetoothScanner">
                <param name="android-package" value="com.radlib.cordova.BluetoothScanner"/>
            </feature>
        </config-file>
		
        <source-file src="src/android/BluetoothScanner.java"
            target-dir="src/com/radlib/cordova"/>

		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>	
			
    </platform>
	
</plugin>
